@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

nav{
    background-color: yellow;
}

nav li{
    padding: 20px;
    list-style: none;
    text-align: center;
    font-size: 2.3rem;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
    position: relative;
}

.line{
    height: 3px;
    background-color:white;
    width: 0;
    /* width: 270px; */
    position: absolute;
    transition: width 1s ease-in-out;
    /* transform: translate(5px, 137px)rotate(45deg); */
}

.item{
    border: 1px solid white;
    padding: 20px;
    font-size: 3rem;
    text-align: center;
    color: yellow;
    cursor: pointer;
}

img{
    border-radius: 6px;
    width: 0;
    transition: width 1s ease-in-out;
}

.gif{
    height: 186px;
    width: 267px;
}

.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color:black;
    height: 63%;
}

.playContainer{
    margin: 35px;
}

.info{
    padding: 27 18px;
}

.turn{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 4px;
    color: white;
}

.reset{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 4px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
    background-color: yellow;
}

.b-top-0{
    border-top: 0;
}

.b-left-0{
    border-left: 0;
}

.b-bottom-0{
    border-bottom: 0;
}

.b-right-0{
    border-right: 0;
}

.wonMsg{
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    color: white;
    background-color: black;
    transition: font-size .8s ease-in-out
}